body {
    max-width: 100vw;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


.container 
{ 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.container p {
   
    flex-basis: 100%;
    text-align: center;
}

.bag-container {
   display: flex;
   padding-top: 50px;
   flex-wrap: wrap;
   justify-content: center;
}

label {
   
}



.title {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.welcome-message {
    width: 50%;
}

.reset-message {
    visibility: hidden;
}

input  {
    width: 50px;
}

svg {
    padding-top: 25px;
}


.container label, .stock-container, .intro-container {
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container label span {
    padding: 15px;
}

.data-container {
    display:flex;
    flex-direction: column;
}

.stock-level, .stock-value {
    display: inline-block;
 }

 .stock-level {
    font-size: 20px;
 }

.stock-status {
    color: green;
    text-align: centre;
}

.data-container button {
    visibility: hidden;
}

.form-container {
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    width: 50%;
    height: 80%;
    background: rgba(249, 245, 245, 0.8); /* Semi-transparent background */
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease; /* Smooth fade-in transition */
    z-index: 1000; /* Ensure it sits above other content */
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

/* When the form is visible, adjust opacity and display */
.form-container.visible {
    display: flex; /* Show the form */
    opacity: 1; /* Make it visible */
    transition: opacity 0.3s ease; /* Smooth fade-in transition */
    justify-content: center;

}

.form-container .form-flex-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
    background-color: grey;
    border-radius: 20px; 
    opacity: 0.8;
    align-items: center;
}

.form-message {
    font-size: 15px;
    margin: 0px;
    left: 15px;
    top:2px;
    flex-basis: 50%;
    align-self: flex-start;
    padding-left: 20px;
    
}


#order-form {
   display: flex;
   height: 100%;
   flex-basis: 50%;
   width: 100%;
}

.form-container.visible .form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
    gap: 5px;
    text-align: center;
    height: fit-content;
    width: 100%;
    
    
}

.form-btn {
    margin-left: auto; 
    margin-right: 20px;
}


#order-form .form-grid label.form-labels {
    font-size: 30px;
    color: yellow;
   
}



#order-form input[type=checkbox] {
   
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
 opacity: 1 !important;
 margin: 0;
 width: 15px;
 height: 35px;
}



@media screen and (max-width: 600px) {
    label { 
        max-width: 600px;
    }

    .title {
        font-size: 50px;
        
    }

    .welcome-message {
        font-size: 20px;
        width: auto;
    }

    input .bags-input {
        width: 50%;
        height: 50%;
        text-align: center;
        font-size: 80px;
    }

    .form-container {
        width: 90%;
        height: 80%;
    }

    .form-container .form-flex-wrapper {
        height: 90%;
        width: 90%;
    }

   
    
}