body {
    width: 100vw;
    padding: 0;
    
}


.container 
{ 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.container p {
   
    flex-basis: 100%;
    text-align: center;
}

.bag-container {
   display: flex;
   padding-top: 50px;
   flex-wrap: wrap;
   justify-content: center;
}

label {
   
}



.title {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.reset-message {
    visibility: hidden;
}

input {
    width: 50px;
}

svg {
    padding-top: 25px;
}


.container label, .stock-container, .intro-container {
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container label span {
    padding: 15px;
}

.data-container {
    display:flex;
    flex-direction: column;
}

.stock-level, .stock-value {
    display: inline-block;
 }

 .stock-level {
    font-size: 20px;
 }

.stock-status {
    color: green;
    text-align: centre;
}

.data-container button {
    visibility: hidden;
}

.form-container {
    display: flex;
    justify-content: center;
}



#order-form {
    visibility: hidden;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
 opacity: 1 !important;
 margin: 0;
 width: 15px;
 height: 35px;
}

@media screen and (max-width: 600px) {
    label { 
        max-width: 600px;
        
    }

    .title {
        font-size: 50px;
        
    }

    .welcome-message {
        font-size: 20px;
    }

    input {
        width: 50%;
        height: 50%;
        text-align: center;
        font-size: 80px;
       
    }

    
}